.UpperReg{
    display: flex;
    justify-content: center;
}

.registerBox{
    height: 100vh;
    width: 25em;
    
}

.registerTopPart{
    border: 1px solid rgb(212, 211, 211);
    margin: 20px 0;
    padding: 40px 50px;
}

.headingName{
    text-align: center;
    margin: 20px 0;
    font-family: 'Great Vibes', 'cursive';
}

.belowHeadingText{
    text-align: center;
    color: gray;
    margin-top: 20px 0;
    font-family: 'poppins';
    font-weight: 600;
}

.registersBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0095f6;
    color: white;
    border-radius: 4px;
    border: none;
    height: 2.7em;
    margin: 20px 0;
    cursor: pointer;
}

.registersBtn i{
    width: fit-content;
    font-size: 18px;
}

.registersBtn p{
    width: fit-content;
    margin-left: 8px;
    font-size: 16px;
}

.OrText{
    transform: translate(135px,-21px);
    padding: 8px;
    width: fit-content;
    border-radius: 50%;
    background-color: white;
}

.registerInpBox{
    height: 3em;
    border-radius: 3px;
    margin: 3px 0;
    border: 1px solid rgb(212, 211, 211);
    background-color: rgb(248, 245, 245);
    outline: 0;
    border: 0;
    font-family: 'Poppins';
    padding-inline-start: 10px;
}

.registerInpBox:focus{
    outline: 1px solid rgb(247, 246, 246);
}

.textBelowInputBox{
    margin-top: 12px;
    font-size: 12px;
    text-align: center;
}

.textBelowInputBox span{
    color: darkblue;
    font-size: 14px;
    cursor: pointer;
}

.SubmitBtn{
    font-weight: 600 !important;
    letter-spacing: 2px;
    background-color: rgb(7, 173, 228) !important;
    cursor: pointer;
}

.registerBottomPart{
    display: flex;
    border: 1px solid rgb(212, 211, 211);
    width: 25em;
    padding: 30px 50px;
}

.registerBottomPart p{
    font-size: 14px;
    margin: 0 8px;
    text-align: center;
}

.registerBottomPart span{
    color: blue;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 600;
    width: fit-content;
    cursor: pointer;
}

.getTheAppTitle{
    text-align: center;
    margin-top: 15px;
    font-size: 16px;
}

.downloadLinks{
    display: flex;
    padding:1em 3em;
}

.downloadLinks img{
    width: 46%;
    margin: 2%;
    cursor: pointer;
}